.cart_list_container {
    width: 100%;
}
.cart_list_container img {
        border: 1px solid #fff;
    border-radius: 50%;
}
ul li {
    list-style-type: none;
}
ul.cart_list li {
    width: 100%;
}
.cart_list ul.cart_list_details li {
    display: block;
    width:90px;
    margin-right: 10px;
    padding: 5px;
}
.item-count {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 20px;
    background: #000;
    color: #fff;
    position: relative;
    padding: 0;
    margin: 0;
}
.item-count span {
    position: absolute;
    top: 5px;
    left: 12px;
    font-weight: bold;
    font-size: 17px;
}
.cart_left {
    width: 60%;
    float: left;
    padding: 5px;
    background: #ccc;
    margin-right:3%; 
}
.card_deails_sec {
    height: -webkit-fill-available;
    background: #000;
}
.cart_right {
    width: 35%;
    float: left;
    padding: 5px;
    /* background: #000; */
    color: #fff;
    padding-left: 10px;
    text-align: center;
}
.cart-list{
    border: 1px solid #cccc;
    background: #fff;
    margin: 5px;
}
.cart-data-div{
    padding-top: 20px;
}
.card_details{
    margin-block-end: 30px;
}
h2.card_details {
    color: brown;
    padding-top: 10px;
    margin: 0;
}
.card_type{
    margin-block-end: 20px;
}
ul.card_type li {
    margin-right: 10px;
}
ul.card_type{
    display: inline-block;
}
.card_num {
    margin-bottom: 20px;
}
.card_num{
    padding: 10px;
    margin: 10px;
}
.card_num h5{
    margin: auto;
}
.card_num input, .exp_date input, .cvv input {
    border: none;
    background: #000;
    border-bottom: 1px solid #dcdcdc;
    outline: none;
}
.exp_date input{
    width:10px;
}
.cvv input{
    width: 40px;
}
.card_sec{
    width:100%;
    margin-bottom: 150px; 
}
.exp_date, .cvv{
    width: 50%;
    float: left;
}
.check_out{
    width:100%;
    height: 50px;
    background:  orangered;
    color: #fff;
    padding-top: 16px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}