#header-container {
    margin: 0;
    width: 100%;
    height: 150px;
    background-color: #003e52;
    background-image: -webkit-linear-gradient(left,#003e52 50%,#0d6d85 87%,#1a9cb7 100%);
    background-image: linear-gradient(90deg,#003e52 50%,#0d6d85 87%,#1a9cb7 100%);
    position: fixed;
    top:0;
}
#first-header {
    position: relative;
    background: rgba(33,33,33,.25);
    min-width: 1006px;
    height: 30px;
    text-align: right;
    -webkit-transition: height .25s linear,zIndex 0s linear .25s;
    transition: height .25s linear,zIndex 0s linear .25s;
    z-index: 310;
    
}
.first_header_content {
    width: 1188px;
    min-width: 1188px;
    margin: 0 auto;
    font-size: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .first_header_content ul {
      float: right;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #a8b2b7;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  #second-header {
    width: 100%;    
    margin: 0 auto;
    height: 70px;
    /* margin-top: 10px; */
    position: fixed;
    left: 125px;
    background-color: #003e52;
    background-image: -webkit-linear-gradient(left,#003e52 50%,#0d6d85 87%,#1a9cb7 100%);
    background-image: linear-gradient(90deg,#003e52 50%,#0d6d85 87%,#1a9cb7 100%);
  }
  .second_header_content{
    position: relative;
  }
  .logo {
    width: 200px;
    height: 39px;
    float: left;
  }
.logo img {
    width: 127px;
    height: 40px;
}
.search {
    position: relative;
    float: left;
    margin-right: 20px;
}
.search input {
    width: 688px;
    height: 39px;
    border-radius: 5px 5px;
}
.search button {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 0 2px 2px 0;
    outline: none;
    background: #f57224 url(https://www.iconsdb.com/icons/preview/white/search-13-xxl.png) 50% no-repeat;
    background-size: 22px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}
  

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}

#third-header {
    width:100%;
    position: fixed;
    top: 120px;
    background: rgba(33,33,33,.25);
    background-color: #003e52;
    background-image: -webkit-linear-gradient(left,#003e52 50%,#0d6d85 87%,#1a9cb7 100%);
    background-image: linear-gradient(90deg,#003e52 50%,#0d6d85 87%,#1a9cb7 100%);
}
#third-header ul {
    margin-left: 108px;
}

/* Drop down css*/

  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #fff;
    color: #000;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .cart_img img {
    width: 44px;
    height: 45px;
  }