.product-details{
    width: 100%;
    margin: 10px 10%;
}
.left{
    width: 30%;
    float: left;
    margin-right: 20px;
}
.right{
    width:50%;
    float: left;
}
.add_cart_but{
    padding: 15px 120px;
    background: orangered;
    border: 1px solid orange;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}
h3.cost{
    color:orangered;
}