.product-list-container{
    min-width: 1200px;
    margin-top: 10px;
    margin-left: 110px;
    /* background: #dcdcdc */
}

.product-list{
    float: left;
    width: 170px;
    margin-right: 10px;
    border: 1px solid #dcdcdc;
    height: 500px;
    padding: 5px;
}
.lists {
    /* background-color: #dcdcdc; */
    /* height: -webkit-fill-available; */
}